/* main-content */
.content{
    height:90%;
    width: 72%;
    background-color:#0b1320;
    overflow-y:auto;
    overflow-x:hidden;
}
.content::-webkit-scrollbar{
    display: none;
}

@media(max-width:600px){
    .content{
        width: 100%;
    }
}
/* Content-Slider */

.item img{
    height:180px;
    width: 300px;
}
.card{
    opacity:0.8;
    margin:0 15px;
    transition: all 0.3s ease;
 }
 .song-slider .card:hover{
     border: solid thin rgb(139, 57, 57);
    cursor: pointer;
    transform: scale(1.19);
    opacity:1;
 }
 /* Content-Latest-Release */

 .section {
   margin-bottom: 35px;
}

.section-heading {
    width: 100%;
    color: #fff;
    margin:0px 0px .4rem 20px;
    font-size: 1.2rem;
    justify-content: space-between;
    display: flex;
   
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.latest-release-song {
    margin-left: 90px;
   
}
.latest-release-song-item {
    width: 42.5%;
    margin: 0.6rem 1.9rem 0rem 0rem;
    transition: .3s linear;
}


.latest-release-image a i{
    position: absolute;
    font-size: 35px;
    color: #fff;
    transition: .3s linear;
    transform: translate(-113px, -50px);
    opacity: 0;
    transition: 0.3s linear;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.latest-release-image a i:hover{
    opacity: 1;
}
.latest-release-image {
    position:relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-release-image img {
    width: 100%;
    height: 100%;
    margin-right: 0.8rem;
}

.songs-name {
    margin-top: 1.2rem;
    color: #fff;
    white-space: nowrap;
}

.date {
    color: #909090;
}

.dropsdown {
    position: relative;
}

.btn-light {
   
    color:#f8f9fa ;
    border: none;
    padding: 0;
    margin: 0;
}

.bi-three-dots {
    font-size: 1.5rem;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 10rem;
    padding: 0.5rem 0;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    background-color: grey;
    color: aqua;
}

.dropdown-divider {
    height: 0px;
    margin:0;
    overflow: hidden;
    border-top: 1px solid rgb(212, 209, 209);
}

.duration {
    margin-top: 1rem;
}

@media (max-width:768px) {
    .latest-release-song-item {
        width: 100%;
    }
    .latest-release-song{
        transform: translateX(-43px);
    }
}
/* content-popular-artist */

.navigation{
    margin-right:35px;
}
.artists-image{
    display: flex;
    height: 150px;
    position:relative;
    overflow: auto;
    
}
.artists-image::-webkit-scrollbar{
    display: none;
}
@media (max-width: 600px) {
    .artists{
    width: 100%;
    margin: 10px;
    gap: 10px;
    }
}
.artists {
    
    text-align: center;
    flex: 0 0 calc(23% - 25px);
    justify-content: space-between;
}

.artists div{
  
    border-radius:50%;
    transition: all 0.2s linear;
}
.artists div:hover{
    opacity: 0.7;
}


.artists img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.artists p {
    font-size: 0.8rem;
    color: #909090;
}
.artists-image div .bi{
    position: absolute;
    font-size: 35px;
    height: 120px;
    width: 120px;
    top: -35px;
    border-radius: 50%;
    padding-top:35px;
    transition: .3s linear;
    color: #fff;
    transform: translate(-120px,35px);
    opacity: 0;
}

     .artists-image .bi:hover{
        opacity:1;
     }

.prev-btn,
.next-btn {
    padding: 5px;
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    color: #007bff;
    cursor: pointer;
    outline: none;
}

.prev-btn:hover,
.next-btn:hover {
    color:#fff;
}

/* Content-Songs-type */
.songs-type{
    height:140px;
    width: 65vw;
    margin-left: 20px;
    background-color: rgb(1, 1, 31);
    display: flex;
    overflow-x: auto;
    overflow-y:hidden;
  
  
}
.songs-type-image{
    width:100px;
    height:100px;
    border-radius: 50%;
    margin:23px 10px 0px 10px; 
    background-size: cover;
    background-position: center;
    transition:all .3s ease;  
    cursor: pointer;
   
   
}
.songs-type::-webkit-scrollbar{
    display: none;
}
@media(max-width:650px){
    .songs-type{
       
        width: 100%;
       transform: translateX(-20px);
    }
    .songs-type-image{
        flex: 0 0 calc(27% - 10px);
    }
}


.songs-type-image .para{
    
    transform: translatey(36px);
    text-align: center;
    color:#fff;
} 
.songs-type-image:hover{
     opacity: 0.6;
    transform: scale(1.2);
}

.songs-type-playlist-image p{
    transform: translateY(60px);
    color: #fff;
    font-size: 0.9rem;
    
}
.songs-type-playlist{
    margin:6px 0 0 13px;
}
.songs-type-playlist-image{
    background-image: url(https://www.shutterstock.com/image-illustration/music-column-subwoofer-flying-notes-600w-2201569303.jpg);
    background-size: cover;
    background-position: center;
    border-radius:50%;
    width:120px;
    height: 120px;
    margin: 5px;
    text-align: center;
    
}
.workout-image{
    background-image: url(https://c8.alamy.com/comp/PXMX5F/handsome-strong-brutal-man-doing-plank-on-kettlebells-push-up-on-weights-on-dark-sport-club-background-training-in-light-gym-on-art-shadow-toned-po-PXMX5F.jpg);  
   
   }
.love-image{
    background-image: url(https://img.freepik.com/premium-photo/top-view-valentines-day-love-song-music-background_1921-815.jpg);
}
.chill-image{
    background-image: url(https://img.freepik.com/free-vector/gradient-lo-fi-illustrations_52683-84144.jpg?w=2000);
}
.retro-image{
    background-image: url(https://www.shutterstock.com/image-photo/audio-cassette-music-background-wallpaper-260nw-2045161388.jpg);
}
.rock-image{
    background-image: url(https://img.freepik.com/premium-photo/emotional-portrait-rock-guitar-player-with-long-hair-beard-plays-smoke-background_136403-15631.jpg);
}
.pop-image{
    background-image: url(https://wallpaperaccess.com/full/2742181.jpg);
}

/* Content-Mood-Songs */
/* Mood Song */
.mood-songs{
    display: flex;
    overflow-x: auto;
    overflow-y:hidden;
}
.mood-songs::-webkit-scrollbar{
    display: none;
}
.mood-song-image{
    height: 128px;
    width: 256px;
    flex: 0 0 calc(34% - 25px);
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    margin: 10px;
    transition:all 0.2s linear;
    cursor: pointer;
}
.mood-song-image:hover{
    transform:scale(1.15);
    opacity: 0.5;
}

   .mood-song-image .para{
    text-align: center;
    transform: translateY(55px);
    font-size: 1rem;
    color: #fff;
    font-weight:bold ;
    
}

.party{
    background-image: url(https://img.freepik.com/free-vector/party-crowd-silhouettes-dancing-nightclub_1048-11557.jpg?q=10&h=200);
}
.electronics{
    background-image: url(https://www.krqe.com/wp-content/uploads/sites/12/2023/02/AdobeStock_310953838.jpeg?w=2560&h=1440&crop=1);
    
}
.road-trip{
    background-image: url(https://img.freepik.com/premium-photo/playing-with-his-heart-handsome-young-man-playing-guitar-his-beautiful-girlfriend-while-sitting-retro-style-mini-van_425904-14014.jpg);
}
/* Content-English-Songs */
/* pop song */
.pop_song{
    width: 100%;
    min-height: 150px;
    margin-bottom: 20px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;
    justify-content: space-between;
    
    }
    .songs-section-heading{
        transform: translateX(-10px);
    }
    
    .pop_song::-webkit-scrollbar{
    display: none;
    }
    .pop_song li{
    list-style-type: none;
    margin-right:10px ;
    transition:.3s linear;
    flex: 0 0 calc(20% - 10px);
    }
    .pop_song .img_play:hover{
        opacity: 0.8;

    }
    .pop_song li .img_play{
    position:relative;
    height: 150px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    
    }
    .pop_song li .img_play img{
    width: 135px;
    margin: 5px;
    
    }
    .pop_song li .img_play .bi{
    position: absolute;
    font-size: 40px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;
    
    }
    .pop_song li:hover .img_play .bi{
    opacity:1;
    color: #fff;
    }
    .pop_song li h5{
    line-height: 15px;
    font-size: 0.9rem;
    color: #fff;
    text-align: center;
    overflow: hidden;
    white-space:nowrap ;
    text-overflow: ellipsis;
    }
    .pop_song li h5 .subtitle{
    font-size: 0.7rem;
    overflow: hidden;
    white-space:nowrap ;
    text-overflow: ellipsis;
    color: #4c5262;
    }