.aside{
    height: 90%;
    width:30%;
    background-color: #111727;
    box-shadow: 5px 0 2px #090f1f;
    overflow:auto;
    overflow-x:hidden;
    color: #fff;
    padding: 13px;
    }
   @media(max-width:600px){
    .aside{
        display: none;
    }
   }
   
        /* Aside-top */
    .aside-top{
        margin-bottom: 45px;
    }    
    .aside-heading a{
        text-decoration: none;
        color: aqua;
    }
   .similar_artist:hover{
    
       cursor: pointer;
   }
   .similar_artist_img{
    width:50px;
    height:60px;
    position: relative;
    transition: all 0.2s linear;
   }
   .similar_artist_img img{
       width:100%;
        height:100%;
       object-fit: cover;
   }
   .similar_artist_img i{
     position: absolute;
     transform: translateX(-100%);
     padding-top: 7px;
     text-align: center;
     font-size: 1.8rem;
     width:50px;
     height:60px;
     transition: all 0.1s linear;
     opacity: 0;
   }
   .similar_artist_img i:hover{
     opacity: 1;
   }
   .similar_artist_img:hover{
    opacity: 0.6;
   }
   .similar_artist h6{
    align-content: center;
    margin: 10px;
    white-space: nowrap;
    
   }
   .similar_artist h6 .subtitle{
      color:grey;
   }
   /* dropdown */
   .dropsdown {
    position: relative;
}

.btn-light {
   
    color:#f8f9fa ;
    border: none;
    padding: 0;
    margin: 0;
}

.bi-three-dots {
    font-size: 1.5rem;
}

.dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 10rem;
    padding: 0.5rem 0;
    background-color: #f8f9fa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: block;
    width: 100%;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #16181b;
    background-color: grey;
    color: aqua;
}

.dropdown-divider {
    height: 0px;
    margin:0;
    overflow: hidden;
    border-top: 1px solid rgb(212, 209, 209);
}

/* bottom */
.aside-bottom .similar_artist_img{
    height: 45px;
    width: 45px;
}
.aside-bottom .similar_artist_img i{
    height: 45px;
    width: 45px;
    padding: 0;
}
.aside-bottom .similar_artist h6{
    font-size: 0.8rem;
    margin-top: 0;
}
.aside-bottom .similar_artist .h6{
    margin-right: 13px;
}